@inject IEscortTypeService escortTypeService
@inject IServiceService serviceService
@inject ICityService cityService

@{
	var escortTypes = await escortTypeService.GetAll();
	var services = await serviceService.GetAll();
	var cities = await cityService.GetAll();
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"] - Norway Eskorte</title>

	<link type="text/css" rel="stylesheet" href="~/css/theme/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/magnific-popup.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/jquery.selectBox.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/dropzone.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/rangeslider.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/animate.min.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/leaflet.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/map.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/jquery.mCustomScrollbar.css">
	<link type="text/css" rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
	<!-- Google fonts -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

	<link type="text/css" rel="stylesheet" href="~/css/theme/style.css">
	<link type="text/css" rel="stylesheet" href="~/css/theme/default-skin.css">
</head>
<body id="top">

	<div class="page_loader"></div>
	<!-- Top header start -->
	<header class="top-header top-header-bg d-none d-xl-block d-lg-block d-md-block" id="top-header-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="list-inline">
						<a href="mailto:support@finneskorte.com"><i class="fa fa-envelope"></i>support@finneskorte.com</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<ul class="top-social-media pull-right">
						@*<li>
								<a href="#">/</a>
							</li>
							<li>
								<a href="login.html" class="sign-in"><i class="fa fa-sign-in"></i> Login </a>
							</li>
							<li>
								<a href="login.html" class="sign-in"><i class="fa fa-user"></i> Register</a>
							</li>*@
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- Top header end -->
	<!-- main header start -->
	<header class="main-header do-sticky" id="main-header-2">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-lg navbar-light rounded">
						<a href="/" class="navbar-brand logo">
							<img src="~/images/logos/black-logo.png" alt="logo">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
							<span class="fa fa-bars"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbar">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="/eskorte">
										Explore Escorts
									</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" id="navbar-escort-types" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Escort Types
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbar-escort-types">
										@foreach (var escortType in escortTypes)
										{
											<li>
												<a class="dropdown-item" href="/eskorte/@escortType.Slug">
													@escortType.Name
												</a>
											</li>
										}
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" id="navbar-services" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Services
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbar-services">
										@foreach (var service in services)
										{
											<li>
												<a class="dropdown-item" href="/eskorte/@service.Slug">
													@Html.Raw(service.Name)
												</a>
											</li>
										}
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" id="navbar-cities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Cities
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbar-cities">
										@foreach (var city in cities)
										{
											<li>
												<a class="dropdown-item" href="/eskorte/@city.Slug">
													@Html.Raw(city.Name)
												</a>
											</li>
										}
									</ul>
								</li>
							</ul>
							<form class="form-inline my-2 my-lg-0">
								<a href="#full-page-search" class=" my-2 my-sm-0">
									<i class="fa fa-search"></i>
								</a>
							</form>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- main header end -->

	@RenderBody()

	<footer class="footer">
		<div class="container footer-inner">
			<div class="row">
				<div class="col-xl-12">
					<p class="copy">&copy;  @DateTime.Now.Year <a href="@Context.Request.Host" target="_blank">Finneskorte.com</a></p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Off-canvas sidebar -->
	<div class="off-canvas-sidebar">
		<div class="off-canvas-sidebar-wrapper">
			<div class="off-canvas-header">
				<a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
			</div>
			<div class="off-canvas-content">
				<aside class="canvas-widget">
					<div class="logo text-center">
						<img src="~/images/logos/logo.png" alt="logo">
					</div>
				</aside>
				<aside class="canvas-widget">
					<ul class="menu">
						<li class="menu-item"><a href="/">Home</a></li>
						<li class="menu-item"><a href="/eskorte">Explore Escorts</a></li>
						<li class="menu-item menu-item-has-children">
							<a href="javascript:void(0);">
								Category
							</a>
							<ul class="menu">
								@foreach (var category in escortTypes)
								{
									<li class="menu-item"><a href="/eskorte/@category.Slug">@category.Name</a></li>
								}
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="javascript:void(0);">
								Service
							</a>
							<ul class="menu">
								@foreach (var service in services)
								{
									<li class="menu-item"><a href="/eskorte/@service.Slug">@Html.Raw(service.Name)</a></li>
								}
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="javascript:void(0);">
								City
							</a>
							<ul class="menu">
								@foreach (var city in cities)
								{
									<li class="menu-item"><a href="/eskorte/@city.Slug">@Html.Raw(city.Name)</a></li>
								}
							</ul>
						</li>
					</ul>
				</aside>
			</div>
		</div>
	</div>

	<script src="~/js/theme/jquery-2.2.0.min.js"></script>
	<script src="~/js/theme/popper.min.js"></script>
	<script src="~/js/theme/bootstrap.min.js"></script>
	<script src="~/js/theme/jquery.selectBox.js"></script>
	<script src="~/js/theme/rangeslider.js"></script>
	<script src="~/js/theme/jquery.magnific-popup.min.js"></script>
	<script src="~/js/theme/jquery.filterizr.js"></script>
	<script src="~/js/theme/wow.min.js"></script>
	<script src="~/js/theme/backstretch.js"></script>
	<script src="~/js/theme/jquery.countdown.js"></script>
	<script src="~/js/theme/jquery.scrollUp.js"></script>
	<script src="~/js/theme/particles.min.js"></script>
	<script src="~/js/theme/typed.min.js"></script>
	<script src="~/js/theme/dropzone.js"></script>
	<script src="~/js/theme/jquery.mb.YTPlayer.js"></script>
	<script src="~/js/theme/leaflet.js"></script>
	<script src="~/js/theme/leaflet-providers.js"></script>
	<script src="~/js/theme/leaflet.markercluster.js"></script>
	<script src="~/js/theme/maps.js"></script>
	<script src="~/js/theme/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="~/js/theme/ie-emulation-modes-warning.js"></script>

	<script src="~/js/app.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
