@model EscortModel
@{
	Layout = "_ContentLayout";
	ViewData["Title"] = "Eskorte Profile";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
	<div class="container">
		<div class="breadcrumb-area">
			<h1>Profile Details</h1>
			<ul class="breadcrumbs">
				<li><a asp-controller="Listing" asp-action="Index">Eskorte</a></li>
				<li class="active">@Model.Name</li>
			</ul>
		</div>
	</div>
</div>
<!-- Sub banner end -->

<div class="properties-details-page content-area-15">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-xs-12 slider">

				<div id="propertiesDetailsSlider" class="carousel properties-details-sliders slide mb-60">
					<div class="heading-properties">
						<div class="row">
							<div class="col-md-12">
								<div class="pull-left">
									<h3>@Model.Name</h3>
								</div>
								<div class="p-r">
									<h3>$xxx</h3>
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- main slider carousel items -->
					<div class="carousel-inner">
						@for (var imageIndex = 0; imageIndex != Model.Images.Count; imageIndex++)
						{
							@if (imageIndex == 0)
							{
								<div class="active item carousel-item" data-slide-number="@imageIndex">
									<img src="@Model.Images[imageIndex].Path" class="img-center img-fluid" alt="@Model.Name">
								</div>
							}
							else
							{
								<div class="item carousel-item" data-slide-number="@imageIndex">
									<img src="@Model.Images[imageIndex].Path" class="img-center img-fluid" alt="@Model.Name">
								</div>
							}
						}
						<a class="carousel-control left" href="#propertiesDetailsSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="carousel-control right" href="#propertiesDetailsSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>
					</div>
					<!-- main slider carousel nav controls -->
					<ul class="carousel-indicators smail-properties list-inline nav nav-justified">
						@for (var imageIndex = 0; imageIndex != Model.Images.Count; imageIndex++)
						{
							@if (imageIndex == 0)
							{
								<li class="list-inline-item active">
									<a id="carousel-selector-@imageIndex" class="selected" data-slide-to="@imageIndex" data-target="#propertiesDetailsSlider">
										<img src="@Model.Images[imageIndex].SmallPath" class="img-fluid" alt="@Model.Name">
									</a>
								</li>
							}
							else
							{
								<li class="list-inline-item">
									<a id="carousel-selector-@imageIndex" class="selected" data-slide-to="@imageIndex" data-target="#propertiesDetailsSlider">
										<img src="@Model.Images[imageIndex].SmallPath" class="img-fluid" alt="@Model.Name">
									</a>
								</li>
							}
						}
					</ul>
				</div>


				<!-- Tabbing box start -->
				<div class="tabbing tabbing-box mb-60">
					<ul class="nav nav-tabs" id="carTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Description</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="true">Details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="true">Calendar</a>
						</li>
					</ul>
					<div class="tab-content" id="carTabContent">
						<div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
							<h3 class="heading">Description</h3>
							@Html.Raw(Model.Description)
						</div>

						<div class="tab-pane fade " id="three" role="tabpanel" aria-labelledby="three-tab">
							<div class="property-details">
								<h3 class="heading">Details</h3>
								<div class="row">
									<div class="col-md-4 col-sm-6">
										<ul>
											@{
												var kvp1 = 0;
											}

											@foreach (var kvp in Model.Features)
											{
												@if (kvp1++ % 3 == 0)
												{
													<li>
														<strong>@Html.Raw(kvp.Key)</strong>
														<span class="pull-right">@Html.Raw(kvp.Value)</span>
													</li>
												}
											}
										</ul>
									</div>
									<div class="col-md-4 col-sm-6">
										<ul>
											@{
												var kvp2 = 0;
											}

											@foreach (var kvp in Model.Features)
											{
												@if (kvp2++ % 3 == 1)
												{
													<li>
														<strong>@Html.Raw(kvp.Key)</strong>
														<span class="pull-right">@Html.Raw(kvp.Value)</span>
													</li>
												}
											}
										</ul>
									</div>
									<div class="col-md-4 col-sm-6">
										<ul>
											@{
												var kvp3 = 0;
											}

											@foreach (var kvp in Model.Features)
											{
												@if (kvp3++ % 3 == 2)
												{
													<li>
														<strong>@Html.Raw(kvp.Key)</strong>
														<span class="pull-right">@Html.Raw(kvp.Value)</span>
													</li>
												}
											}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
							<h3 class="heading">Calendar</h3>
							<div class="row">
								@foreach (var cal in Model.Calendar.GroupBy(c => c.Date.Date))
								{
									<div class="col-md-3 col-sm-12">@cal.Key.ToShortDateString()</div>
									<div class="col-md-9 col-sm-12">
										@foreach(var el in cal.Select(c => c.City)
											.GroupBy(c => c.Region.Id)
											.Select(x => $"{x.First().Region.Name}: {string.Join(", ", x.Select(xx => xx.Name))}"))
										{
											@Html.Raw(el)
										}
									</div>
								}
							</div>
						</div>
					</div>
				</div>

				<!-- Features opions start -->
				<div class="features-opions mb-60">
					<h3 class="heading">Services</h3>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<ul>
								@for (var i = 0; i < Model.Services.Count; i += 3)
								{
									<li>
										<a href="/eskorte/@Model.Type/@Model.Services[i].Slug" title="@Model.Services[i].Description">
											@Html.Raw(Model.Services[i].Name)
										</a>
									</li>
								}
							</ul>
						</div>
						<div class="col-md-4 col-sm-6">
							<ul>

								@for (var i = 1; i < Model.Services.Count; i += 3)
								{
									<li>
										<a href="/eskorte/@Model.Type/@Model.Services[i].Slug" title="@Model.Services[i].Description">
											@Html.Raw(Model.Services[i].Name)
										</a>
									</li>
								}

							</ul>
						</div>
						<div class="col-md-4 col-sm-6">
							<ul>

								@for (var i = 2; i < Model.Services.Count; i += 3)
								{
									<li>
										<a href="/eskorte/@Model.Type/@Model.Services[i].Slug" title="@Model.Services[i].Description">
											@Html.Raw(Model.Services[i].Name)
										</a>
									</li>
								}

							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-12">
				@await Html.PartialAsync("SideBar")
			</div>
		</div>
	</div>
</div>