@model IList<ListingEscortModel>

@{
	Layout = "_ContentLayout";
	ViewData["Title"] = "Eskorte";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
	<div class="container">
		<div class="breadcrumb-area">
			<h1>Find what you really want</h1>
			<ul class="breadcrumbs">
				@if (string.IsNullOrEmpty(ViewContext.RouteData.Values["first"]?.ToString()))
				{
					<li class="active">Eskorte</li>
				}
				else
				{
					<li><a href="/eskorte">Eskorte</a></li>
					@if (string.IsNullOrEmpty(ViewContext.RouteData.Values["second"]?.ToString()))
					{
						<li class="active">@ViewContext.RouteData.Values["first"]</li>
					}
					else
					{
						<li><a href="/eskorte/@ViewContext.RouteData.Values["first"]">@ViewContext.RouteData.Values["first"]</a></li>
						@if (string.IsNullOrEmpty(ViewContext.RouteData.Values["third"]?.ToString()))
						{
							<li class="active">@ViewContext.RouteData.Values["second"]</li>
						}
						else
						{
							<li><a href="/eskorte/@ViewContext.RouteData.Values["first"]/@ViewContext.RouteData.Values["second"]">@ViewContext.RouteData.Values["second"]</a></li>
							<li class="active">@ViewContext.RouteData.Values["third"]</li>
						}
					}
				}
			</ul>
		</div>
	</div>
</div>
<!-- Sub banner end -->

<div class="properties-list-rightside content-area-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="sidebar mrb">
					<!-- Search area start -->
					<div class="widget search-area">
						<h5 class="sidebar-title">Advanced Search</h5>
						<div class="search-area-inner">
							<div class="search-contents ">
								<form method="POST">
									<div class="form-group">
										<label>Region</label>
										<select class="selectpicker search-fields" name="area">
											<option>Region</option>
											@foreach (var region in ViewBag.Regions)
											{
												<option>@region.Name</option>
											}
										</select>
									</div>
									<div class="form-group">
										<label>City</label>
										<select class="selectpicker search-fields" name="Status">
											<option>City</option>
											@foreach (var city in ViewBag.Cities)
											{
												<option>@Html.Raw(city.Name)</option>
											}
										</select>
									</div>

									<br>
									<div class="form-group">
										<label>Price</label>
										<div class="range-slider">
											<div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
											<div class="clearfix"></div>
										</div>
									</div>
									<br>
									<h5 class="sidebar-title">Services</h5>
									<div class="form-group">
										@foreach (var service in ViewBag.Services)
										{
											<div class="form-check checkbox-theme">
												<input class="form-check-input" type="checkbox" name="@service.Slug" id="@service.Slug">
												<label class="form-check-label" for="@service.Slug">
													@Html.Raw(service.Name)
												</label>
											</div>
										}

										<br />
										<button class="search-button btn-md btn-color">Search</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-md-12">
				<div class="option-bar d-none d-xl-block d-lg-block d-md-block d-sm-block">
					<div class="row clearfix">
						<div class="col-12">
							<h4>
								<span class="heading-icon">
									<i class="fa fa-caret-right icon-design"></i>
									<i class="fa fa-th-large"></i>
								</span>
								<span class="heading">Eskorte</span>
							</h4>
						</div>
					</div>
				</div>

				<div class="subtitle">
					@Model.Count Result Found
				</div>
				<div class="row">
					@foreach(var escort in Model)
					{
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="property-box">
								<div class="property-thumbnail">
									<a asp-controller="Profile" asp-action="Index" asp-route-id="@escort.ExternalId" class="property-img">
										<div class="tag button alt featured">Featured</div>
										<div class="price-ratings-box">
											<p class="price">
												$xxx
											</p>
											<div class="ratings">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<img src="@escort.MainImage.SmallPath" alt="@escort.Name" class="img-fluid">
									</a>
									<div class="property-overlay">
										<a asp-controller="Profile" 
										   asp-action="Index" 
										   asp-route-id="@escort.ExternalId" class="overlay-link">
											<i class="fa fa-link"></i>
										</a>
										<div class="property-magnify-gallery">
											<a href="@escort.MainImage.Path" class="overlay-link">
												<i class="fa fa-expand"></i>
											</a>
											<a href="@escort.MainImage.Path" class="hidden"></a>
											<a href="@escort.MainImage.Path" class="hidden"></a>
										</div>
									</div>
								</div>
								<div class="detail">
									<h1 class="title">
										<a asp-controller="Profile" 
										   asp-action="Index"
										   asp-route-id="@escort.ExternalId">@escort.Name</a>
									</h1>
									<div class="location">
										<a asp-controller="Profile" asp-action="Index" asp-route-id="@escort.ExternalId">
											<i class="fa fa-map-marker"></i>@escort.EscortType
										</a>
									</div>
									<ul class="facilities-list clearfix">
										@{ 
											var i = 0;
										}
										@foreach (var service in escort.Services)
										{
											<li>
												<i class="flaticon-check-mark"></i> @Html.Raw(service.Name)
											</li>

											@if(++i == 4)
											{
												break;
											}
										}


									</ul>
								</div>
								<div class="footer">
									<span>
										<i class="fa fa-user"></i> ???
									</span>
									<span>
										<i class="fa fa-calendar-o"></i> ???
									</span>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>